html { height:100%;}
body { position:absolute; top:0; bottom:0; right:0; left:0; }

.fullheight {
    min-height: 100%;
    margin-top: 0 !important;
}

h3 {
    text-transform: uppercase !important;
}

.text p, a, h2 {
    color: black;
    text-align: center;
}

#contact-button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1em;
}

#contacts {
    visibility: hidden;
}

@media only screen and (min-width: 1024px) {
    body {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
